@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import url("stylesheet.css");

*{
    transition: width 0.5s ease, height 0.5s ease, position 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.mainPanel{
    width: 440px;
    height: 600px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: #292929;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.newSize{
    width: 740px;
    height: 300px;
}

.snowflake {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    user-select: none;
    animation: fall 5s linear infinite;
    z-index: 0;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.logo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 3px solid #0095FF; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 25px;   
}

.logo-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.smthHuh{
    border: 2px solid white;
    background-color: #292929;
    border-radius: 20px;
    padding: 4px;
    padding-top: 0px;
}

.newLogo-container{
    position: absolute;
    left: 20px;
    top: 10px;
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

body{
    background-image: url('../someImages/bgMementoMori.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;   

    font-family: 'JetBrains Mono', monospace;

    display: flex;
    justify-content: center; 
    align-items: center;   
}

.nameMain {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: -10px;
}

.nickname {
    color: #009DFF; 
    font-size: 25px;
}

.skills{
    color: #00FF44;
    font-size: 20px;
    margin-bottom: 9px;
}

.button {
    display: block;
    width: 90%;
    height: 55px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-bottom: 11px;
}

.button.github {
    background-color: #444444; 
}

.button.discord {
    background-color: #3f0fff; 
}

.button.steam {
    background-color: #000000; 
}

.button:hover {
    opacity: 0.9; 
}

.shit{
    margin-top: 9px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'ITC Bookman', monospace;
    font-style: italic;
}

.microShit{
    color: #ffffff;
    font-size: 15px;
    font-family: 'ITC Bookman', monospace;
    font-style: italic;
}

.infoButton{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #0095FF;
    color: white;
    font-family: 'ITC Bookman', monospace;
    font-style: italic;

    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
}

.infoButton:hover{
    background-color: #009dff;
}

.newButton{
    left: 93.5%;
    right: 10px;
}

.hidden{
    visibility: hidden;
}

.newText{
    font-size: 20px;
    width: 93%;
    word-wrap: break-word;
    color: #ffffff;
    position: absolute;
    top: 130px;
    left: 25px;
}